@import "_vars";
@import "_fonts";

.data-table-box {
  max-width: @main-width;
  min-height: 625px;
  padding: 0;
  margin: 0 auto 40px;
}
#data-table {
  max-width: @main-width;
  min-height: 625px;
}

td {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: #000000;
  text-align: center;
}
th {
  font-size: 14px;
  color: @nav-link-active-color;
  text-align: center;
  letter-spacing: 2px;
  word-spacing: 3px;
}
#data-table_length, #data-table_filter {
  font-size: 12px !important;
  letter-spacing: 2px;
}
#data-table_info {
  word-spacing: 3px;
}