@import "_vars";
@import "_fonts";
@import "_header";
@import "_recent";
@import "_footer";
@import "_contact";
@import "_portfolio";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

html,
body {
  min-height: 100%;
  width: 100%;
  font-family: "Bebas", sans-serif;
}

.content-wrapper {
  max-width: 100%;
  min-height: 100%;
}

.top-stripe {
  display: block;
  content: '';
  padding: 0;
  max-width: 100%;
  height: 60px;
  background: @outer-stripes-color;
}

.secret-top {
  display: block;
  content: '';
  padding: 0;
  margin: -60px auto 0;
  max-width: @main-width;
  height: 60px;
  background: transparent;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: -10px;
    height: 100%;
    background: #FFFFFF;
    width: 10px;
  }
  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: -10px;
    height: 100%;
    background: #FFFFFF;
    width: 10px;
  }
}

.top-stripe-title {
  max-width: @main-width;
  height: 60px;
  margin: -60px auto 25px;
  padding: 19px;
  background: @nav-link-active-color;
  position: relative;
  & > h1 {
    font-size: 24px;
    color: #FFFFFF;
    margin: 0;
    word-spacing: 3px;
    line-height: 1;
  }
}

/*slider-pack*/
.slider {
  max-width: @main-width;
  max-height: 400px;
  margin: -60px auto 20px;
  padding: 0;
}

.sliderrow {
  max-width: @main-width;
  max-height: 400px;
  margin: 0;
}

#carousel-example-generic {
  max-width: @main-width;
  max-height: 400px;
}

.carousel-inner {
  max-width: @main-width;
  max-height: 400px;

  .item {
    max-width: @main-width;
    max-height: 400px;
  }
}

.slide {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  padding: 0;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: -10px;
    height: 100%;
    background: #FFFFFF;
    width: 10px;
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: -10px;
    height: 100%;
    background: #FFFFFF;
    width: 10px;
  }
}

.item > img {
  width: 100%;
  height: 100%;
}

.glyphicon-chevron-left,
.glyphicon-chevron-right {
  position: absolute !important;
  top: 39.25% !important;
  width: 50px !important;
  height: 50px !important;
  font-size: 50px !important;
  margin: 0;
}

.glyphicon-chevron-left {
  left: 20px !important;
}

.glyphicon-chevron-right {
  right: 20px !important;
}

/*caption for slides in carouselle*/
.carousel-caption {
  background: rgba(232, 102, 60, 0.8);
  position: absolute;
  left: 3.8%;
  top: 61%;
  max-width: 413px;
  max-height: 124px;
  padding: 0;
  overflow: hidden;

  & > h4 {
    max-height: 31px;
    line-height: 1.29em;
    font-size: 1.8vw;
    padding: 0;
    margin: 0;
    text-align: left;
    vertical-align: top;
    font-weight: normal;
    position: absolute;
    left: 4.8%;
    top: 16.1%;
    letter-spacing: 1px;
    word-spacing: 2px;
  }
  & > p {
    font-family: "Helvetica Neue";
    font-size: 1.2vw;
    text-align: left;
    position: absolute;
    left: 4.8%;
    top: 48.4%;
    max-height: 52px;
    padding: 0;
    overflow: hidden;
    margin: 0;
  }
}

/*picture line under the slider*/
.picturesrow {
  max-width: @main-width;
  min-height: 120px;
  display: block;
  margin: 0 auto 40px;
  padding: 0;
}

#photoline {
  margin: 0 -10px;
}

#photoline > .item {
  padding-right: 10px;
  padding-left: 10px;
  display: inline-block;
  &:hover {
    opacity: 0.5;
  }
}

/*3 blocks of articles line*/
.articles {
  max-width: @main-width;
  min-height: 250px;
  display: block;
  margin: 0 auto 45px;
  padding: 0;
}

#article {
  height: 100%;
  margin: 0;
}

.artic {
  width: 300px;
  height: 100%;
  display: block;
  padding: 0;
  margin-right: 20px;
}

#thirdcol {
  margin-right: 0 !important;
}

.art {
  height: 46px;
  margin: 0 0 33px 0;
  vertical-align: middle;
  & > .article-heading-image {
    display: block;
    margin: 0;
    padding: 0;
    height: 100%;
  }
  & > .article-heading-text {
    display: block;
    margin: 0;
    padding: 0 30px 0 20px;
    height: 100%;
    word-spacing: 2px;

    & > p {
      margin: 0;
      height: 100%;
      color: #e8663c;
      font-size: 18px;
      text-align: left;
    }
  }
}

.text1, .text2, .text3 {
  margin: 0;
  padding: 0;
}

.article-text {
  display: block;
  padding: 0;
  height: 120px;
  margin-bottom: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.article-main-text {
  height: 100%;
  margin: 0;
  font-family: "Helvetica Neue";
  font-size: 12px;
  text-align: left;
  color: #414141;
}

.morebtn {
  height: 31px;
  width: 56px;
  padding: 0;
  & > .more-btn {
    display: inline-block;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    background: @bmore-color;
    padding: 9px 14px;
    text-decoration: none;
    color: #ffffff;
    letter-spacing: 0.5px;
    text-align: center;
    vertical-align: middle;
    font-size: 12px;
    line-height: 1;
    &:hover, &:focus {
      text-decoration: none;
      color: #ffffff;
      background: @bmore-active-color;
    }
  }
}

@media (max-width: 768px) {
  .picturesrow {
    max-width: none !important;
  }
}

.bottom-stripe {
  max-width: 100%;
  min-height: @footer-main-height;
  padding: 0;
  background: @outer-stripes-color;
}

.secret-bottom {
  display: block;
  content: '';
  padding: 0;
  margin: -@footer-main-height auto 0;
  max-width: @main-width;
  min-height: @footer-main-height;
  background: transparent;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: -10px;
    min-height: @footer-main-height;
    background: #FFFFFF;
    width: 10px;
  }
  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: -10px;
    min-height: @footer-main-height;
    background: #FFFFFF;
    width: 10px;
  }
}




